.createPost{
    background-color: aliceblue;
    backdrop-filter: blur(20px);
    position: absolute;
    right: 50%;
    top: 55%;
    transform: translate(50%, -50%);
    width: 40%;
    height: 55em;
    border-radius: 24px;
}

.createPost h1{
    text-align: center;
    margin-top: 0.7em;
}


.createPostForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7;
}
.userCreateDetailsForm .inputField,
.createPost .formInput, .recypetype,
.editPost .formInput{
    padding: 1em;
    width: 30em;
    border-radius: 16em;
}



button{
    margin-top: 0.7em;
    padding: 1em 3em 1em 3em;
    border-radius: 20px;
}

.buttons{
    display: flex;
    gap: 2em;
}
.selectOptions{
    display: flex;
    flex-direction: column;
}

.inputWrapper textarea{
    margin-bottom: 1em;
}

.calorienInhalt{
    display: flex;
    justify-content: center;
    border-radius: 2000px;
    gap: 2em;
}
.calorienInhalt div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5;

}

.calorienInhaltInput{
    width: 5em;
    padding: 0.5em 0.2em;
    border-radius: 12px;
}