.detailsPage{
 background-image: url('../images/detailsBackground.png');
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.like{
    width: 3.5em;
    margin-bottom: 0.8em;
    cursor: pointer;
    transition: width 0.3s, height 0.3s;
}

.unLike{
    width: 3.5em;
    cursor: pointer;
    margin: 0.5em 0 0.5em 0;
    transition: width 0.3s, height 0.3s;
}
.like:hover,
.unLike:hover{
    width: 4em;
    height: auto;
}


.wrappImgIcon{
    position: relative;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    border: 1px solid black;
    border-radius: 21px;
}


.buttonInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em 0 0.5em;
    width: 100%;
}

.send,
.showComents{
    padding: 0.8em;
    border-radius: 0 4px 4px 0;
    height: 100%;
    width: 30%;
    margin: 0;
    border: 1px solid #ccc;

}

.showComents{
    width: 50%;
    margin: 0 auto 0.5em;
    border-radius: 4px;
    display: flex;
    gap: 0.5em;
    align-items: center;

}

.showComents img{
    width: 1.5em;
}


.send:hover,
.showComents:hover{
    background-color: rgb(59, 82, 253);
    color: white;
}
.imgCommentAreaWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    height: 3em;
    padding: 1em;

  }

.detailsPage h1{
    margin-top: -3.2em;
    padding: 0;
    text-align: center;
}

.detailsImg{
    border-radius:  21px 21px 0 0;
    /* margin: 1em 0 1em 1em; */
    width: 20em;
    height: 15em;
}

.write-comment{
    display: flex;
    flex-direction: column;
}

.card-details{
    border: 1px solid black;
    border-radius: 16px;
    padding: 2em;
    width: 40%;
}

.card-details h3{
    font-size: 1.5em;
}

.card-details{
    display: flex;
    flex-direction: column;
    gap: 1em;
    backdrop-filter: blur(10px);

}

.wrappDetails{
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 4em;
    justify-content: center;
}

.table, th ,td{
    text-align: center;
    border: 1px solid gainsboro;
}



.comments-list{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1em;
    border: 2px solid #ccc;;
    border-radius: 16px;
    width: 100%;
    height: 40%;
    overflow: scroll;
}
.commmentContent{
    width: 100%;
    display: flex;
    border: 1px solid #ccc;;
    /* padding: 0.5em -1em; */
}
.commmentContent h6{
    display: flex;
    gap: 0.5em;
    font-size: 0.8em;
}

.commmentContent p {
    min-width: 30ch;
}

.buttonsEditDelete{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.edit,
.delete{
    cursor: pointer;
    width: 1em;
}


.editDeleteButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editDeleteButtons button a{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.editDeleteButtons button:hover{
    background-color: #ccc;
    color: white;
}