.catalog{
    background-image: url('../images/background.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* min-height: 150vh; */
}
.catalog img {
    width: 100%;
    height: auto;
}
.catalog h3:first-child{
    padding: 1em 0 1em 0;
    text-align: center;
    font-size: 1.5em;
    width: 50ch;
}

.content{
    display: flex;
    /* gap: 2em; */
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    background: rgb(254,242,222);
    background: linear-gradient(0deg, rgba(254,242,222,1) 15%, rgba(248,225,179,1) 36%, rgba(244,213,148,1) 64%,  rgba(254,242,222,1) 90%);
}
.catalog .idea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    border: 2px solid black;
    border-radius: 12px;
    width: 30em;
    padding: 1em;
    margin-bottom: 1em;
    background: lightyellow;
    backdrop-filter: blur(10px);
    
}

.idea-text h4{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.idea-text p{
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 16px;
    width: 80%;
    margin: 0 auto;
}
.idea-text p a{
    color: white;
    text-decoration: none;
}
.idea-text p:hover{
    background-color: brown;
}
.catalog .idea img {
    width: 10em;
    height: auto;
}
.cardsWrapper{
    padding: 2.5em;
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 1.5em;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card a {
    text-decoration: none;
}
.card-text p{
    font-size: 1em;
}
.card-text h3{
    font-size: 2em;
}
.card-text h4{
    font-size: 1.5em;
    /* background-color: red; */
}

.card-text p,
.card-text h3,
.card-text h4{
    color: black;
}
.card{
    border: 2px solid black;
    width: 21%;
    border-radius: 12px;
    height: 52%;
    transition: width 0.3s, height 0.3s;
    background: rgb(255,202,145);
    background: linear-gradient(0deg, rgba(255,202,145,1) 20%, rgba(244,213,148,1) 50%, rgba(254,242,222,1) 87%);

}

.card .info{
    width: 2em;
    display: none;
}
.card:hover .card-text .info{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0 auto;
}


.card:hover{
    width: 22%;
    height: 53%;
}

.card:hover .info{
    width: 2em;
    display: block;
}


.card-media img{
    width: 100%;
    max-height: 15em;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.card-text{
    padding: 1em;
}
.buttonDetails{
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgba(255,202,145,1);
    width: 35%;
    margin: 0 auto 1em;
    border-radius: 14px;
    text-align: center;
}

.buttonDetails a{
    text-decoration: none;
    color: white;
}

.buttonDetails:hover{
    background-color: red;
}
