.userDetailsPage{
    position: relative;
    /* background-image: url('../images/backgroun-user-info.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.userDetailsForm{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    background-color: gainsboro;
    flex-direction: column; 
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    gap: 0.5em;
}

.userDetailsPage h1{
    text-align: center;
}

.userDetailsForm .wrapp {
    display: flex;
    gap: 0.2em;
    flex-direction: column;
}

.chekbox{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.userdetails{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.userDetsails-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.5em;
    border: 1px solid black;
    padding: 3em;
}

.resultdata{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultdata table tr th,
.resultdata table tr td{
    padding: 1em;
    line-height: 2;
    /* background-color: rebeccapurple; */
}

.attention {
    width: 80%;
    margin: 1em auto 1em;
}

.userInfo{
    display: flex;
    flex-direction: column;
}
.textCreateUserDetails{
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}
.textCreateUserDetails h2 {
    width: 50ch;
}

.userCreateDetailsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userCreateDetailsForm .wrapp{
    display: flex;
    flex-direction: column;
}
.wrapGen{
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0.5em;
}
.userCreateDetailsForm .wrapGen .chekbox{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.userCreateDetailsForm{
    background-color: rgb(202, 202, 136);
    width: 50%;
    margin: 0 auto;
    border-radius: 16%;
    padding: 1em;
    margin-bottom: 1em;
}


.wrappPieCharImg img {
    width: 20em;
    height: 20em;
}
